.tab-header {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--disabled-text-color);
}

.tab-header:hover {
    color: var(--secondary-text-color);
}

.tab-header.active {
    color: var(--primary-text-color);
}