.text-link {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
    flex-shrink: 0;
    cursor: pointer;
}

.text-link:hover,
.text-link:visited:hover {
    color: #80cfff;
    text-shadow: 0 0 4px rgba(128, 207, 255, 0.6);
}

.text-link:visited {
    color: #ddd;
}