.toggle-text {
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.toggle-text:hover {
  filter: brightness(1.2);
}

.toggle-text.green {
  color: #4ade80;
}

.toggle-text.red {
  color: #f87171;
}