.iconSize32 {
    width: 32px;
    height: 32px;
}

.iconFullWidth {
    width: 100%;
}

.identityIconContainer {
    position: relative;
    aspect-ratio: 1/1;
    container-type: size;
}

.upcomingLabel {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    text-align: left;
    color: #ddd;
    font-weight: bold;
    text-shadow: 0 0 4px #000, 0 0 12px #000, 2px 2px 4px #000, -2px -2px 4px #000;
    font-size: 0.9rem;
    overflow: hidden;
}

.identityRarityIcon {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 2rem;
    object-fit: contain;
    pointer-events: none;
}

.identityIconName {
    position: absolute;
    bottom: 4px;
    right: 4px;
    max-width: 100%;
    max-height: 70%;
    overflow: hidden;
    display: block;
    text-align: right;
    color: #ddd;
    font-weight: 600;
    line-height: 1.1;
    text-wrap: balance;
    text-shadow: 0 0 4px #000, 0 0 12px #000, 2px 2px 4px #000, -2px -2px 4px #000;
}

.identityUptieIcon {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    flex-direction: column;
    text-align: right;
    text-shadow: 0 0 4px #000, 0 0 12px #000, 2px 2px 4px #000, -2px -2px 4px #000;
}

.identityIconOpts {
    color: #ddd;
    font-weight: 600;
    line-height: 1.1;
    font-size: 1rem;
}

.skillIconContainer {
    position: relative;
    width: 112px;
    left: -4px;
}

.skillIconFrameContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 112px;
    z-index: 3;
    pointer-events: none;
}

.skillIconIconContainer {
    position: absolute;
    top: 13.3px;
    left: 13.3px;
    z-index: 2;
    margin-left: 5.3px;
    margin-top: 12.8px;
    width: 74px;
    height: 74px;
    clip-path: polygon(73% 2%, 98% 36%, 90% 80%, 50% 100%, 10% 80%, 2% 36%, 27% 2%);
}

.skillIconFrameBgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 112px;
    z-index: 1;
}

.rarityIcon {
    height: 2rem;
}

.giftIconContainer {
    position: relative;
    width: 96px;
    height: 96px;
    display: flex;
}

.giftIconBackground {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giftIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
}

.giftIconTier {
    position: absolute;
    top: 8%;
    left: 8%;
}

.giftIconKeyword {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 5%;
    right: 5%;
}

.giftIconEnhance {
    position: absolute;
    top: 5%;
    right: 5%;
}

.tierIcon {
    display: inline-block;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    color: #ffd84d;
    font-size: 24px;
}

.nameOverlay {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-height: 70%;
    overflow: hidden;
    display: block;
    text-align: center;
    color: #ddd;
    font-weight: 600;
    line-height: 1.1;
    text-wrap: balance;
    text-shadow: 0 0 4px #000, 0 0 12px #000, 2px 2px 4px #000, -2px -2px 4px #000;
    font-size: 1rem;
}