.notif {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px; 
    background: var(--bg-input);
    cursor: pointer;
    box-sizing: border-box;
}

.notifRead {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px; 
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
}

.notif:hover {
    background: var(--bg-hover);
}

.notifRead:hover {
    background: var(--bg-hover);
}