.collection {
    position: relative;
    box-sizing: border-box;
    display: flex;
    transition: all 0.2s ease;
    width: 100%;
    border-top: 1px var(--secondary-border-color) dotted;
    border-bottom: 1px var(--secondary-border-color) dotted;
    border-radius: 1rem;
}

.collection.canHover:hover {
    background: var(--bg-hover);
}

.collectionLink {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.collectionAvatar {
    display: flex;
    /* border: 1px var(--secondary-border-color) solid; */
    border-radius: 50%;
    background: var(--bg-secondary);
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 5;
}

.collectionContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.track {
    display: flex;
    gap: 1rem;

    transition: transform 180ms cubic-bezier(.2,.8,.2,1);
}
