.collection {
    position: relative;
    box-sizing: border-box;
    display: flex;
    transition: all 0.2s ease;
    width: 100%;
    border-top: 1px var(--secondary-border-color) dotted;
    border-bottom: 1px var(--secondary-border-color) dotted;
    border-radius: 1rem;
}

.collection.canHover:hover {
    background: var(--bg-hover);
}

.collectionLink {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.collectionContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.scrollContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.track {
    display: flex;
    gap: 1rem;

    transition: transform 180ms cubic-bezier(.2,.8,.2,1);
}

.hoverHint:hover .track {
    transform: translateX(-10px);
}

.hoverHint:not(:hover) .track {
    transform: translateX(0);
}

.scrollContainer a {
    -webkit-user-drag: none;
}

.scrollable {
    cursor: grab;
}

.scrollable:active {
    cursor: grabbing;
}

@media (prefers-reduced-motion: reduce) {
    .track {
        transition: none;
    }
}