.mdPlan {
    position: relative;
    border: 2px #7c6a55 solid;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: #1c1a17;
    transition: all 0.2s ease;
    pointer-events: all;
}

.mdPlan.canHover:hover {
    background: #3a3a3a;
}

.mdPlanLink {
    position: absolute;
    inset: 0;
    z-index: 3;
}

.mdPlanContent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: stretch;
    padding: 6px 6px 6px 6px;
    box-sizing: border-box;
    z-index: 4;
    pointer-events: none;
}

.mdPlanTitleContainer {
    display: flex;
    height: 2.4rem;
    align-items: center;
}

.mdPlanTitle {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.2rem; 
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.mdPlanButtonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px #7c6a55 dashed;
    background: #1c1a17;
    z-index: 4;
    height: 2.25rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    pointer-events: all;
}
