.creatorCard {
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px var(--primary-border-color) solid;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.creatorTag {
  background-color: var(--bg-input);
  color: var(--primary-text-color);
  border: 1px solid var(--secondary-border-color);
  padding: 4px 8px;
  border-radius: 1rem;
  margin: 2px;
  font-size: 0.8rem;
  pointer-events: auto;
}
