.header {
  max-width: 1024px;
  width: 100%;
  position: relative;
  aspect-ratio: 32 / 9;
  overflow: hidden;
}

.headerImage {
  width: 100%;
  aspect-ratio: 24 / 9;
  object-position: center var(--position, 35%);

  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 75%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;

  mask-image: linear-gradient(to bottom, black 50%, transparent 75%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.headerOverlay {
  position: absolute;
  inset: 0;
  color: #ddd;
}

.headerButtons {
  position: absolute;
  top: min(5%, 10px);
  left: min(1%, 10px);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.headerText {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
}

.profileContainer {
  flex: 0 1 500px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.ratingTab {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .statsContainer {
    flex-direction: column;
  }

  .profileContainer {
    flex: 1;
  }

  .ratingTab {
    flex-direction: column;
    gap: 0;
  }
}