.cardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: all 0.2s ease;
}

.cardButton.disabled {
    opacity: 0.5;
}

.cardButton:hover:not(.cardButton.disabled) {
    background: var(--bg-hover);
    cursor: pointer;
    color: var(--primary-text-color);
}

.cardButton.left {
    border-bottom-left-radius: 12px;
}

.cardButton.right {
    border-bottom-right-radius: 12px;
}

.cardButton.middle {
    border-left: 2px var(--primary-border-color) dashed;
    border-right: 2px var(--primary-border-color) dashed;
}

.cardButton:visited {
    color: var(--primary-text-color);
}
