.clickableId {
    transition: all 0.2s ease;
}

.clickableId:hover {
    filter: brightness(1.3);
}

.clickableIdCard {
    background: var(--bg-primary);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: min(420px, 100%);
    height: 280px;
    border: 1px var(--secondary-border-color) solid;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.clickableIdCard:hover {
    filter: brightness(1.3);
}

.clickableTableRow {
    background: var(--bg-primary);
    transition: all 0.2s ease;
}

.clickableTableRow:hover {
    filter: brightness(1.3);
}