.choiceEventCard {
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    background: var(--bg-primary);
    transition: all 0.2s ease;
}

.choiceEventCard.canHover:hover {
    /* background: #3f3f3f; */
    filter: brightness(1.3);
}
