.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background-color: #c4302b;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #802020;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.googleButton:hover {
  background-color: #d43c33;
  border-color: #a03030;
}

.discordButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background-color: #5865F2;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #404EED;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.discordButton:hover {
  background-color: #6b78ff;
  border-color: #5a67ff;
}

.signupButton {
  background: none;
  border: none;
  color: var(--primary-text-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.signupButton:hover {
  color: #60a5fa;
  background: none;
  filter: brightness(1.2);
  text-shadow: 0 0 4px rgba(128, 207, 255, 0.6);
}