.social {
  color: var(--secondary-text-color);
  font-weight: bold;
  text-decoration: none;
}

.hoverableSocial {
  color: var(--secondary-text-color);
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.2s;
}

.hoverableSocial:visited {
  color: var(--secondary-text-color);
}

.hoverableSocial:hover,
.hoverableSocial:hover:visited {
  color: #60a5fa;
  background: none;
  filter: brightness(1.2);
  text-shadow: 0 0 4px rgba(128, 207, 255, 0.6);
}

.buttonSocial {
  border: 1px var(--secondary-border-color) solid;
  background-color: var(--bg-input);
  color: var(--primary-text-color);
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px;
  transition: background-color 0.2s, border-color 0.2s;
  font-size: 1rem;
}

.buttonSocial:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}