.submission {
    text-align: left;
    transition: all 0.2s ease;
    gap: 0.5rem;
}

.submission:hover:not(:has(button:hover)) {
    background: #3a3a3a;
}

.submissionEditing {
    text-align: left;
    transition: all 0.2s ease;
    gap: 0.5rem;
}