.LinksMenu {
    width: 100%;
    background: #1f1f1f;
    padding: 0.5rem;
    /* border: 1px #aaa solid; */
    /* border-radius: 1rem; */
    box-sizing: border-box;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.LinksCategory {
    font-size: 1.3rem;
    font-weight: bold;
}

.recentAdditions {
    width: 100%;
    border: 1px #aaa solid;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 0.2s ease;
}

.recentAdditions.canHover:hover {
    background: #3a3a3a;
}
