.floorSelectTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 350px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    background: var(--bg-input);
    border: 1px solid var(--secondary-border-color);
}

.floorSelectTrigger:hover {
    background-color: var(--bg-hover);
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.floorSelectValue {
    display: flex;
    align-items: center;
}

.floorSelectContent {
    background: var(--bg-secondary);
    border: 1px solid var(--secondary-border-color);
    border-radius: 5px;
    width: 100%;
    max-width: min(90vw, 1040px);
    height: 80%;
    max-height: min(50vh, 500px);
    z-index: 1000;
    overflow-y: auto;
}

.floorSelectFadeBottom {
    position: sticky;
    bottom: 0;
    height: 24px;
    pointer-events: none;
    text-align: center;
    background: linear-gradient(to bottom, transparent, var(--bg-secondary));
}

.floorSelectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    max-width: clamp(330px, 85vw, 900px);
}

.floorSelectItem {
    position: relative;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.floorSelectItem:focus,
.floorSelectItem:hover {
    background: var(--bg-hover);
    transition: background-color 0.2s, border-color 0.2s;
}

.floorItemInner {
    display: flex;
    flex-direction: column;
    align-items: center;
}