.tab {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--disabled-text-color);
    padding: 0.5rem;
    border: 1px transparent solid;
}

.tab:hover {
    color: var(--secondary-text-color);
}

.tab.active {
    color: var(--primary-text-color);
    border: 1px var(--secondary-border-color) solid;
    border-radius: 0.5rem;
}

.clickableIcon {
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.clickableIcon.owned {
    filter: brightness(1);
    border: 1px var(--primary-border-color) solid;
}

.clickableIcon.unowned {
    filter: brightness(0.5) grayscale(0.75);
}
