.mdPlan {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

@media (max-width: 768px) {
    .mdPlan {
        width: 100%;
    }
}

.giftPanel {
    align-items: center;
    gap: 0.5rem;
    width: 300px;
    padding: 0.2rem;
}

@media (max-width: 768px) {
    .giftPanel {
        width: 200px;
    }
}

.giftList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.giftListGiftWrapper {
    filter: brightness(1);
}

.giftListGiftWrapper.marked {
    filter: brightness(0.5) grayscale(0.5);
}

.giftListGiftWrapper.inPanel {
    transform: scale(0.9);
    transform-origin: top left;
    width: 87px;
    height: 87px;
}

@media (max-width: 768px) {
    .giftListGiftWrapper {
        transform: scale(0.6);
        transform-origin: top left;
        width: 58px;
        height: 58px;
    }
    .giftListGiftWrapper.inPanel {
        transform: scale(0.6);
        transform-origin: top left;
        width: 58px;
        height: 58px;
    }
}

.themePackList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
    justify-content: center;
}

.themePackListPackWrapper {
    filter: brightness(1);
}

.themePackListPackWrapper.marked {
    filter: brightness(0.5) grayscale(0.5);
}

.floorLayout {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .floorLayout {
        gap: 0.1rem;
    }
}

.floorPanel {
    align-items: center;
    width: 300px;
    height: 350px;
}

.floorPanelItems {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .floorPanel {
        width: 160px;
    }
}

.floorNotes {
    flex: 1 1 600px;
    min-width: 0;
}

@media (min-width: 768px) {
    .floorNotes {
        align-self: start;
        min-width: 600px;
    }
}

.showDescriptions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.hideDescriptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.hideDescriptions .floorNotes {
    display: none;
}