.clickableEgo {
    transition: all 0.2s ease;
}

.clickableEgo:hover {
    filter: brightness(1.3);
}

.clickableEgoCard {
    background: #1f1f1f;
    transition: all 0.2s ease;
}

.clickableEgoCard:hover {
    filter: brightness(1.3);
}

.clickableTableRow {
    background: #1f1f1f;
    transition: all 0.2s ease;
}

.clickableTableRow:hover {
    filter: brightness(1.3);
}

.toggle-text {
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.toggle-text:hover {
  filter: brightness(1.2);
}
